{% extends 'accounts/main.html' %}

{% block title %}
    Order Form
{% endblock %}
 
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md text-center">
            <form action="" method="POST">
                {% csrf_token %}
                    <hr/>
                Customer : {{form.customer}}
                    <hr/>
                Product : {{form.product}}
                    <hr/>
                Status : {{form.status}}
                    <hr/>
                Note : {{form.note}}
                    <hr/>
                Tags : {{form.tags}}
                    <hr/>
                <input class="btn btn-success" type="submit" name="submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}



